/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f0f8ff;
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

a,
.btn {
  transition: all 300ms ease;
}

.hidden {
  display: none !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #5ddbb6;
  backdrop-filter: blur(50px);
}

.logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #5ddbb6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#check {
  display: none;
}

.icon-nav {
  display: none;
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
}

/* particle */

#particles-js {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  /* background: #1665aa; */
  background: #1fc4a8;
}

/* SECTIONS */
section {
  padding-top: 20vh;
  padding-bottom: 20vh;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: grid;
}

.sliding {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 100vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

/*===*/

h2 {
  position: relative;
  font-size: 2vw;
  color: #ffffff;
  white-space: nowrap;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #0084ff;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  40%,
  100% {
    width: 0;
  }
  40%,
  70% {
    width: 100%;
  }
}

/*===*/

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

h1.title {
  font-family: "Pacifico", cursive;
}

h3.title1 {
  font-family: "Arial", sans-serif;
  font-size: 20;
  color: #ffffff;
}

.title-container {
  display: inline-block;
  perspective: 400px;
}

.title_name {
  font-size: 2em;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

#socials-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#socials-container .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#socials-container .icon:hover {
  transform: scale(1.1);
}

.section__pic-container {
  display: flex;
  justify-content: center;
}

.section__pic-container img {
  border-radius: 100%;
  transition: transform 0.3s;
}

.section__pic-container img:hover {
  transform: scale(1.1);
}

.section__pic-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 15px solid white;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: #0084ff;
  color: white;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  margin: 0 10rem;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: transparent;
  text-align: center;
}

.about-details-container p {
  color: #000000;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.text-container p {
  color: rgb(0, 0, 0);
  font-family: "Pacifico", cursive;
  font-size: 18px;
}

/*skills*/

#skills {
  position: relative;
  margin: 0 10rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #830303;
  height: 100%;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  transform: translateY(-3px) scale(1.8);
}

.basic-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 3fr));
  gap: 1rem;
}

.icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 10px;
}

.arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  margin: 0 15rem;
}

#projects h2 {
  color: rgb(22, 178, 184);
}

.projects-section {
  padding: 2rem;
  background-color: #f9f9f9;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  overflow: hidden;
}

.project-info {
  flex: 1;
  padding: 2rem;
}

.project-info h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-info p {
  margin-bottom: 1rem;
}

.tech-stack img {
  width: 30px;
  margin-right: 10px;
}

.project-links {
  margin-top: 1rem;
}

.project-links .btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  background-color: #05bdca;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.project-links .btn:hover {
  background-color: #003f3f;
}

.project-image {
  flex: 1;
  max-width: 500px;
}

.project-image img {
  width: 100%;
  height: 100%;
  display: block;
}

/* CONTACT*/

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10rem;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

/* FOOTER SECTION */

footer {
  margin-bottom: 3rem;
}

footer p {
  text-align: center;
}

#emailForm {
  margin: 0 auto;
  width: 600px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group textarea {
  border-radius: 15px;
  background-color: beige;
  background-position: left top;
  background-repeat: repeat;
  width: 100%;
  padding: 10px;
}

#emailForm input[type="submit"] {
  margin-top: 20px;
  padding: 15px;
  font-size: 18px;
  background: beige;
  color: #070000;
  border: black;
  border-radius: 25px;
  cursor: pointer;
}

#emailForm input[type="submit"]:hover {
  background: rgb(22, 178, 184);
}
